# <center> Pacmann Final Project Business Analytics : Analyzing Paid Search Campaign Data for Mall Businesses

## <center> Balqis Dwian Fitri Zamzami - ADS Batch 13 [TTS Batch 3]

### Import Libraryˎˊ˗ ✰

In [1]:
import pandas as pd

### Data Preprocessingˎˊ˗ ✰

**View Data**

In [2]:
df = pd.read_csv("final_shop_6modata.csv")
df.head()

,Ad Group,Month,Impressions,Clicks,CTR,Conversions,Conv Rate,Cost,CPC,Revenue,Sale Amount,P&L
0,Shop - 1:1 - Desk - [shop coupon code],July,16038,6504,0.41,1166,0.10,6669,1.03,6402,136770.05,-267.086
1,Shop - 1:1 - Desk - [shop coupon],July,36462,14367,0.39,2188,0.09,13746,0.96,13262,283215.21,-483.951
2,Shop - 1:1 - Desk - [shop discount code],July,3635,1458,0.40,248,0.09,1606,1.10,1723,39165.46,117.136
3,Shop - 1:1 - Desk - [shop promo code],July,26185,10418,0.40,2294,0.12,13278,1.27,13042,284823.48,-235.921
4,Shop - 1:1 - Desk - [shop promo],July,808,282,0.35,61,0.15,391,1.39,337,7717.77,-53.604

**Checking Missing Value**

In [3]:
df.isna().sum()

Ad Group       0
Month          0
Impressions    0
Clicks         0
CTR            0
Conversions    0
Conv Rate      0
Cost           0
CPC            0
Revenue        0
Sale Amount    0
P&L            0
dtype: int64

**Checking Duplicate Data**

In [4]:
df.duplicated().sum()

0

**Change Data Type**

In [5]:
# check data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ad Group     190 non-null    object
 1   Month        190 non-null    object
 2   Impressions  190 non-null    int64
 3   Clicks       190 non-null    int64
 4   CTR          190 non-null    float64
 5   Conversions  190 non-null    int64
 6   Conv Rate    190 non-null    float64
 7   Cost         190 non-null    int64
 8   CPC          190 non-null    float64
 9   Revenue      190 non-null    int64
 10  Sale Amount  190 non-null    float64
 11  P&L          190 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 17.9+ KB

**Convert Ad Group to String Data Type**

In [6]:
df['Ad Group'] = df['Ad Group'].astype('string')

df.dtypes

Ad Group        string
Month           object
Impressions      int64
Clicks           int64
CTR            float64
Conversions      int64
Conv Rate      float64
Cost             int64
CPC            float64
Revenue          int64
Sale Amount    float64
P&L            float64
dtype: object

### Data Preparationˎˊ˗ ✰
**Combining several Ad Groups**

Several Ad Groups were merged to simplify and summarize the analysis.

##### a. Checking the contents of the Ad Group column

In [7]:
df['Ad Group'].value_counts()

Shop - 1:1 - Desk - [shop coupon code]             5
Shop - 1:1 - Mob - [shop promo code]               5
Shop - Exact - Mob - Competitor                    5
Shop - 1:1 - Desk - [shop discount code]           5
Shop - 1:1 - Desk - [shop promo code]              5
Shop - 1:1 - Desk - [shop promo]                   5
Shop - 1:1 - Mob - [shop coupon code]              5
Shop - 1:1 - Mob - [shop coupon]                   5
Shop - 1:1 - Mob - [shop discount code]            5
Shop - 1:1 - Mob - [shop promo]                    5
Shop - Exact - Mob - Free Shipping                 5
Shop - Exact - Desk - Competitor                   5
Shop - Exact - Desk - Coupon Code                  5
Shop - Exact - Desk - Discount Code                5
Shop - Exact - Desk - Free Shipping                5
Shop - Exact - Desk - Offer                        5
Shop - Exact - Desk - Promo Code                   5
Shop - Exact - Desk - Sale                         5
Shop - Phrase - Desk - Promo Code                  5
Shop - Exact - Mob - Coupon Code                   5
Shop - 1:1 - Desk - [shop coupon]                  5
Shop - Phrase - Desk - Sale                        5
Shop - Exact - Mob - Offer                         5
Shop - Exact - Mob - Promo Code                    5
Shop - Exact - Mob - Sale                          5
Shop - Phrase - Desk - Coupon Code                 5
Shop - Phrase - Desk - Discount Code               5
Shop - Phrase - Desk - Free Shipping               5
Shop - Phrase - Mob - Sale                         5
Shop - Phrase - Desk - Offer                       5
Shop - Exact - Mob - Discount Code                 5
Shop - Phrase - Mob - Competitor                   5
Shop - Phrase - Mob - Coupon Code                  5
Shop - Phrase - Mob - Discount Code                5
Shop - Phrase - Mob - Free Shipping                5
Shop - Phrase - Mob - Offer                        5
Shop - Phrase - Mob - Promo Code                   5
Shop - Phrase - Desk - Competitor                  3
Shop - Exact - Desk - Black Friday/Cyber Monday    1
Shop - Exact - Mob - Black Friday/Cyber Monday     1
Name: Ad Group, dtype: Int64

##### b. Create a new column (Type) to unify Ad Groups
Multiple Ad Groups are combined into 1 type based on the similarity of their name elements.

In [8]:
df['Type'] = df['Ad Group']

df['Type'][df['Type'].str.contains('Free Shipping')]='Free Shipping'
df['Type'][df['Type'].str.contains('coupon')]='Coupon'
df['Type'][df['Type'].str.contains('Coupon')]='Coupon'
df['Type'][df['Type'].str.contains('promo')]='Promo'
df['Type'][df['Type'].str.contains('Promo')]='Promo'
df['Type'][df['Type'].str.contains('discount')]='Discount'
df['Type'][df['Type'].str.contains('Discount')]='Discount'
df['Type'][df['Type'].str.contains('Competitor')]='Competitor'
df['Type'][df['Type'].str.contains('Offer')]='Offer'
df['Type'][df['Type'].str.contains('Sale')]='Sale'
df['Type'][df['Type'].str.contains('Black Friday')]='Black Friday'

df[['Ad Group','Type']].head()

                                   Ad Group      Type
0    Shop - 1:1 - Desk - [shop coupon code]    Coupon
1         Shop - 1:1 - Desk - [shop coupon]    Coupon
2  Shop - 1:1 - Desk - [shop discount code]  Discount
3     Shop - 1:1 - Desk - [shop promo code]     Promo
4          Shop - 1:1 - Desk - [shop promo]     Promo

In [9]:
df['Type'].value_counts()

Coupon           40
Promo            40
Discount         30
Free Shipping    20
Offer            20
Sale             20
Competitor       18
Black Friday      2
Name: Type, dtype: Int64

##### c. Create a new column (Media) from the data in the Ad Group column

The media/device used in the ad is listed in Ad Group. The data will be separated in a separate column.

In [10]:
df['Media'] = df['Ad Group']

df['Media'][df['Media'].str.contains('Desk')] = 'Desktop'
df['Media'][df['Media'].str.contains('Mob')] = 'Mobile'

df[['Ad Group','Media']].head()

                                   Ad Group    Media
0    Shop - 1:1 - Desk - [shop coupon code]  Desktop
1         Shop - 1:1 - Desk - [shop coupon]  Desktop
2  Shop - 1:1 - Desk - [shop discount code]  Desktop
3     Shop - 1:1 - Desk - [shop promo code]  Desktop
4          Shop - 1:1 - Desk - [shop promo]  Desktop

In [11]:
df['Media'].value_counts()

Mobile     96
Desktop    94
Name: Media, dtype: Int64

##### d. Calculating Cost per Mille (CPM)
Cost per Mille (CPM) is a metric that shows the cost per 1000x ad views.
CPM = Cost / Impressions * 1000

In [12]:
df['CPM'] = df['Cost'] / df['Impressions'] * 1000
df['CPM'] = df['CPM'].round(2)

df[['Impressions', 'Cost', 'CPM']].head()

   Impressions   Cost     CPM
0        16038   6669  415.82
1        36462  13746  377.00
2         3635   1606  441.82
3        26185  13278  507.08
4          808    391  483.91

### Export the processed data to .csv formˎˊ˗ ✰

In [13]:
df.to_csv('new_data.csv', index=False)